<h1>About Us</h1>
<p>We're pretty simple. We want to enable you to rate and review events and conferences that you have been to. The main goal is to increase standards and hold organizers accountable for bad execution. After all, you deserve what you paid for. Or expected to find for free.</p>
<p>Copyright keeto</p>
