<!DOCTYPE html>
<html>
	<body style="background-color: #4796aa">
		<div class="container-fluid">
			<form class="form-group center"role="search">
					<div class="input-group">
					  <input id="address" type="textbox" placeholder="Find an event nearby. Concert, Hackathon etc." class="form-control">
					  <span class="input-group-btn">
					    <button class="btn btn-primary" type="button" >Search</button>
					  </span>
					</div>
			</form>
		

			<button class="btn btn-default" type="button">Add an Event</button>
			<button class="btn btn-default" type="button">Rate an Event</button>
		</div>
	</body>	
</html>
