<!DOCTYPE html>
<html>
<div class="container-fluid">
<h1>Don't like bad events? Us neither.</h1>
<br>
	<body style="background-color: #4796aa">
		
			<form class="form-group center"role="search">
					<div class="input-group">
					  <input id="address" type="textbox" placeholder="Enter your email." class="form-control">
					  <span class="input-group-btn">
					    <button class="btn btn-primary" type="button" >Subscribe</button>
					  </span>
					
			</form>
		
		</div>
	</body>	
	</div>
</html>
