<!DOCTYPE html>
<html>
<div class="container-fluid">
<h5>Don't like bad events? Neither do we.</h5>
<br>
</div>
	<body style="background-color: #4796aa">
		<div class="container-fluid">	
			<%= render 'layouts/signupform' %>
		</div>
		</div>
	</body>	
	</div>
</html>
